# Adds namespace to all resources.
namespace: perses-operator-system

namePrefix: perses-operator-

resources:
  - ../crd/
  - ../rbac
  - ../manager
  - ../webhook
  - certificate.yaml

patches:
  - path: patches/manager_webhook_patch.yaml
  - path: patches/webhook_in_perses.yaml
  - path: patches/webhook_in_persesdashboards.yaml
  - path: patches/webhook_in_persesdatasource.yaml
  - path: patches/webhook_in_persesglobaldatasource.yaml

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
