apiVersion: perses.dev/v1alpha1
kind: PersesDatasource
metadata:
  labels:
    app.kubernetes.io/name: perses-datasource
    app.kubernetes.io/instance: perses-prometheus-datasource
    app.kubernetes.io/part-of: perses-operator
    app.kubernetes.io/created-by: perses-operator
  name: perses-datasource-sample
  namespace: perses-dev
spec:
  display:
    name: "Default Datasource"
  default: true
  plugin:
    kind: "PrometheusDatasource"
    spec:
      directUrl: "https://prometheus.demo.do.prometheus.io"
