---
# CN=perses
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: perses
    app.kubernetes.io/instance: perses-tls-sample
    app.kubernetes.io/part-of: perses-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: perses-operator
  name: perses-certs
  namespace: perses-dev
type: kubernetes.io/tls
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM4akNDQWRxZ0F3SUJBZ0lVWlZvN2FGb1F0aGxzeXhOSVVRSU9WeHJlcVQ0d0RRWUpLb1pJaHZjTkFRRUwKQlFBd0VURVBNQTBHQTFVRUF3d0djR1Z5YzJWek1CNFhEVEkxTURJeU5qQXdORFUwTmxvWERUTTFNREl5TkRBdwpORFUwTmxvd0VURVBNQTBHQTFVRUF3d0djR1Z5YzJWek1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBCk1JSUJDZ0tDQVFFQXhsZzkwUTV4VlJNSDdJdm1PeU04cldaRWk2N2J1WFBlM3BEbkV5RU5iTDRxb1EyUy92b0IKR3gzWHhLVlFiSUVGcnVTaXhzSlJFL01PVWNjWmV5Z0ZXeGhCa0YyMm10ZTQvM3A5aHYvTUlxNllQVTVuLzNhUApOb21oTUVsZ3Zld0p3MCtRTmdLNDAwV0xFVmlaeXBvNnF0SWFZMytVSG5laTRXckxud2REMmxxb3dkTXVLS2duCldDaFJLNURaeG0yTVhoVnRoMjZubzhSU1NwT1doL0swNHp1bGRGaHJqUU14WFF3UTd3MmdFSldkUUJBc2xKS0UKU3hKeFNjV3JyYlUxM0dPQjMzWUQ5anZHK3ZCWkY2RjhoWjZ6YUorVWZQN3dLcWw4VzVIMEM3UzdNZi9NTm9yRgphS0VwOVNNVTZic3E3V1VHc0xKeE5KOFhMQUJROFB4WUFRSURBUUFCbzBJd1FEQWRCZ05WSFE0RUZnUVVjWi81CkN2RE16TXEyR0tmc2VxcmxBcEtEeEtRd0h3WURWUjBqQkJnd0ZvQVVITVNvN3Q4WGRaVlljRDZZN1p4ZUtydzgKc2NNd0RRWUpLb1pJaHZjTkFRRUxCUUFEZ2dFQkFJRDlwaXc1ZFdoZVlDQzc0WXNSUFY5RlpJa2orZmJpcWRsOApVemVPQ3YrRERUMkc0RGo0dENwODB6Y1lVaENUY3pFc0pQZmdnV2dCNlBaVDFMZ1lMeHYvL2Ntb1FDQ3NiWWJ6CjFIOUFmVWdjN3MrWjMrZkhsVngwcmdWMFNTeGlDc3dYMjgzczRFamhkckF6YlRaU3I2SE9ZUXdwVkVTRG9pL1YKdS9xT3RKVTA2RTdvNndvNWVLRm41NmhnMWozd3UwR2F1TVNrWmNpTTNhUXlYNUQ1USt0RVd3OWIrejM5QXhXSAo4UWh3dGxqZzNhQzNCc01FWUEvbE54YUhaK0Y0V1JZckV3SFJXQVdBYjdmdU5QSkJLbjFCeHcrTm4xUk8xV25lClM4RVJrRzBVKzhnU3VkUlVGNTNMYzg2RnRpcXZ4VlF1T0VBR2U1TUd5MjlzajlrL2hoOD0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
  tls.key: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRREdXRDNSRG5GVkV3ZnMKaStZN0l6eXRaa1NMcnR1NWM5N2VrT2NUSVExc3ZpcWhEWkwrK2dFYkhkZkVwVkJzZ1FXdTVLTEd3bEVUOHc1Ugp4eGw3S0FWYkdFR1FYYmFhMTdqL2VuMkcvOHdpcnBnOVRtZi9kbzgyaWFFd1NXQzk3QW5EVDVBMkFyalRSWXNSCldKbkttanFxMGhwamY1UWVkNkxoYXN1ZkIwUGFXcWpCMHk0b3FDZFlLRkVya05uR2JZeGVGVzJIYnFlanhGSksKazVhSDhyVGpPNlYwV0d1TkF6RmREQkR2RGFBUWxaMUFFQ3lVa29STEVuRkp4YXV0dFRYY1k0SGZkZ1AyTzhiNgo4RmtYb1h5Rm5yTm9uNVI4L3ZBcXFYeGJrZlFMdExzeC84dzJpc1Zvb1NuMUl4VHB1eXJ0WlFhd3NuRTBueGNzCkFGRHcvRmdCQWdNQkFBRUNnZ0VBUFBtNHUxSEExcUljb0FSY09aYjZHdWFqTVB3SEVZckZHOUFaTWNES0EwR3QKRWtqOWhVUnZYWm85a0hjdjg4TndiMVZiazFYK25lN3RXb2VtVmoyMTg4elByeVdZTXg4WmdQVHpyVEpyVzhnbwpCa1RaNU9mYVhDNVFidXRJQWVzVUQwYWc4M0cveHplTWFyODl2RkxRc1Y0WS9iaWxYUDV6aFBBVGZDYThIZDZSCmp4bzBSeWdRNGVaMk5FTzVjejY0c2ttUEk5MXBGMzVhaDJyVjBYM3lxSWZ1TThKQUVKVjNxVGJqK3l0RjVTc2oKQWRtWjVxUDErbWlXTUZ4dFNNS2x0cFJUWjF0dytqMXdGaEZBd2M1MDJkcEFMMXl0YmlmWjE0QWtQY0hiNnJqcQpvbXJsVmc1dDVSV1NPMVVod0RJaTdZNnhDMUdUYmg5MkduM1BUQ3VVcndLQmdRRGo3Z1ZOUEtJdlZaYWFTcGNECjlZN0tETVNoSklpSkxtdkVnUDZTQW5XVWRZZ2NKTjVOT0xIRytXSWh5SG1yaXkza0ZwNlpSbHJGMUtybzdxL2QKdS92THBKN0ZXZ0xwdkJoZGVpTnZqcHdLVDNWMDIvRW5Ma0ZZSmVKYzhwU2tqL2d6VlpIanVnbVpEUlJQOFB1awpQczBHUmJqZzZ3eDdFbFVhQkFjdmxRc0lkd0tCZ1FEZXhYeTdQS1B1MHVXdEhIUjVQcDVhQXZjaktqY3FwcnJICmtOdEpiR3AzTC9YWFYvOUlXNGRINGhDNXdIS3A4dG16N1ZRdEhMUDlyekFoeVBFNlFiTFR1TDVEUk9qMGxSanUKZi9OL1EvSjVRTmJtbHJ2WTgzZTlzM2h4T0lvRWltVXdnZVdJMzBMSGx4ZWh6NmpscUI0RE4wVmxsdHNZbEFMKwo5NmI1WDJtNVJ3S0JnQ3F6anY2M1cxTXUzN1lzUHpxWXFKV2w2cmlkMVk2TnlkYllxOWpDNlRCVkRKanBOMVNVClNJb1VjcFFOc08yNGQzS0I0bGlvMjV5d2lReDJtekFaWmNUekpHT294MTd1eEVuTzloQ1NVUjJGWVdYeFJxNm0KZGN1RDNYSzRaNnlrNUVVSnhQazdBMDFQSy8wR0VyN2tuUmlOdTJNMzVmQ3dzSXpkTUZOendzdGxBb0dBY3JFQQpSN0d2d014cG5SZVNTNzNXYndjcHo3dnpUUTBzQ29Ua3NVZVZCS24zaXhmdUFZWEYvMWMvUHpMNmxjN0hFS0IyCmZ3ZFJENkc3U1JtWVFHTUV1NFpZeG05YTlGa3l6YytvUUhSdUNNaytHdGV0L01OVWVhRkZ1QnpneWZlcW95K3QKU2l1UHlReGNDVjNOV2ZlVkJCalhyTGJmTkNjMzU2Yi9HMUpwTHc4Q2dZQnVwc2ZNbkFqdm5jdUhOK01iVDh1NwovNWVpdVVBZDQzVjJJZWpuVGwyYmg4U2xDdWEwYjVnaEV6ajBmaVJTNnVwYTMzS2M2blEvb2F1SHNsMUt0MVFYCkFtb2pYNVVFRTNZbGZYYkh2QlRVUDBLUkRDTkkzRFQzaVBpRkR4aURCUHF4Q0plVGhhdEtQcUJod2FSbTk1cjYKallIeUVUODQyQzZYcUhSVVczek5udz09Ci0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K
  ca.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURBekNDQWV1Z0F3SUJBZ0lVSmk1THpybTdkRHdFUHhZbE9kY1FtQldVb0VFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0VURVBNQTBHQTFVRUF3d0djR1Z5YzJWek1CNFhEVEkxTURJeU5qQXdORFV3TTFvWERUTTFNREl5TkRBdwpORFV3TTFvd0VURVBNQTBHQTFVRUF3d0djR1Z5YzJWek1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBCk1JSUJDZ0tDQVFFQXJVdlZ1enlKc2NucCtEWnVoZ2hZTDVwc3Z1amIzTUxCOG9YRnhSQllkMEl1V0t5YjZLLzIKTWlMQmN6dXh5UDliVzhVSGdRUXRua1dBWmtrUjlkd05ieERqUlRDeU0zWHY1aU9KWkZ4WlBINUF0bE1qRGx3MwpGb3dTNytWWXkwZ3ZZN3ZCQkVUUXQ4d2N3Z1FrdUdQdlFDalBVb0lWT2dBV2ZiMzN3NzU1MWUzOE9SMDdjcVdICisvUmpkZllxcUhkZEZ1WWtJMW5Ua0lybHpBVW9DeisyL3ZLQUgwTjJYVVlKUFhXV29qUCs3bDhRM0tlRDJ4RS8KbDc2Q0hRMmxoSWRBNkIwbXdlN1ROaUVYb1FsTnFPV1g3bVRoOWl5SElUNzdNQzI3dVhEZTAzT0djblZ3eUJuYQpwOFh5aUxaZGdQOUwxUlZOUitPaTNiOUJrTWE3L3BrbEF3SURBUUFCbzFNd1VUQWRCZ05WSFE0RUZnUVVITVNvCjd0OFhkWlZZY0Q2WTdaeGVLcnc4c2NNd0h3WURWUjBqQkJnd0ZvQVVITVNvN3Q4WGRaVlljRDZZN1p4ZUtydzgKc2NNd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTkJna3Foa2lHOXcwQkFRc0ZBQU9DQVFFQVl6c1RRZUlFUElYWApwL0NJOEExK3AwbVE1WE5wdFo0VHZWYmNwNVhKWTMwNzBJSy9POEM0Sk5KV0lER2QyV0VLMno2ZHBxL0VQTW42CmhiRlhjMGlHbVJEaUhrUHQvUDgzN0llQUJtdjR4UVk5SzhWNVJ2WXo4U09GQkV6OUFQQW4zNHM0RXgyS0xiWVoKWVJONXFRclFxaE9OenNzc1d1YlBYZ0dKNkdMcXk1eDJpeXZKWDBiTUJ2NmcxZnRINk5IZWN1UFVYZjZjdnFXegpUdTZ2b25TaXUrN0o2SVg1dyt1aGFFRXhsYW5qS3ExNDZpUHoxZnJMK3NYRzBMYXh5bStUcnVDOEZVZWp5SXhQCkZRdW9uS3BQMjZEQTZraWdSck1wQWd4NGxEY3ZvS0c1MFY3UmRmcTNPZWc4VTd2VXl5UlRrbGkya2tDS20vRWMKZ1NJNzFXbGR6QT09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
---
apiVersion: perses.dev/v1alpha1
kind: Perses
metadata:
  labels:
    app.kubernetes.io/name: perses
    app.kubernetes.io/instance: perses-tls-sample
    app.kubernetes.io/part-of: perses-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: perses-operator
  name: perses-tls-sample
  namespace: perses-dev
spec:
  client:
    tls:
      enable: true
      caCert:
        type: secret
        name: perses-certs
        certFile: ca.crt
      userCert:
        type: secret
        name: perses-certs
        certFile: tls.crt
        certKeyFile: tls.key

  config:
    database:
      file:
        folder: "/perses"
        extension: "yaml"
    schemas:
      panels_path: "/etc/perses/cue/schemas/panels"
      queries_path: "/etc/perses/cue/schemas/queries"
      datasources_path: "/etc/perses/cue/schemas/datasources"
      variables_path: "/etc/perses/cue/schemas/variables"
    ephemeral_dashboard:
      enable: false
      cleanup_interval: "1s"
  containerPort: 8080
