apiVersion: perses.dev/v1alpha2
kind: Perses
metadata:
  name: perses-sample
  namespace: perses-dev
spec:
  metadata:
    labels:
      app.kubernetes.io/instance: perses-sample
      app.kubernetes.io/name: perses
      app.kubernetes.io/component: server
  config:
    database:
      file:
        folder: '/perses'
        extension: 'yaml'
    ephemeral_dashboard:
      enable: false
      cleanup_interval: '1s'
  containerPort: 8080
  logLevel: debug
  logMethodTrace: true
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5
  resources:
    requests:
      memory: 128Mi
