name: go
on:
  push:
    branches:
      - main
      - release/*
      - snapshot/*
    tags:
      - v*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.ref_name != 'main' }}

jobs:
  gofmt:
    name: "check code format"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
      - name: check format
        run: make checkformat
      - name: check go.mod
        run: make checkunused
  test:
    name: "tests"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
      - name: test
        run: make test
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.9.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          enable_go_cache: false
          enable_npm: false
      - name: generate files
        run: make generate
      - name: check bundle changes
        run: make bundle-check
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v2.1.6
          args: --timeout 5m
